<template>
    <q-page class="create-task-page">
    <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
        <div class="create-task">
            <div class="flex justifty-start items-center q-ml-lg onboarding-text-accent-1">
                <q-btn @click="$router.go(-1)" round dense flat icon="arrow_back" />
                <h5 class="text-26 text-semibold q-ma-lg onboarding-text-accent-2">Create A New Task</h5>
            </div>
                        
            <div class="text-14 text-bold q-ml-lg q-pl-sm"> Task Title:
                <span class="required">*</span>
            </div> 
            <q-input
                v-model="title"
                dense
                borderless
                placeholder="Task Name"
                :rules="[(val) => (val !== null && val !== '') || 'Field is required']"
                hide-bottom-space
                class="task-title
                    onboarding-input-field
                    onboarding-border-accent-2 
                    onboarding-border-radius-8
                    q-ml-lg q-mt-xs"
            />
            
            <!-- TASK CARD -->
            <div v-for="(task, index) in tasks" :key="index">
                <div class="task-card onboarding-border-accent-2 onboarding-border-radius-15
                    q-px-md q-py-lg q-ma-lg
                    standard-form-width">
                    <div class="row justify-end">
                        <q-btn
                            flat
                            class="delete_button onboarding-buttontext-grey q-mx-xs q-pa-none"
                            size="13px"
                            icon="iconfont icon-delete-fill"
                            color="teal"
                            @click="deleteTask(index)"
                        /> 
                        <q-btn
                            flat
                            class="arrow-down q-mx-xs q-pa-none"
                            size="13px"
                            icon="arrow_drop_up"
                            color="teal"
                        />
                    </div>
                    <div class="text-14 text-bold q-ml-xs q-mt-sm"> Task Name:
                        <span class="required">*</span>
                    </div>             
                    <q-input
                        v-model="task.taskName"
                        dense
                        borderless
                        placeholder="Account Type"
                        :rules="[(val) => (val !== null && val !== '') || 'Field is required']"
                        hide-bottom-space
                        class="onboarding-input-field
                            onboarding-border-accent-2 onboarding-border-radius-10
                            q-mt-xs"
                    />
                    <div class="text-14 text-bold q-ml-xs q-mt-md q-gutter-sm row"> Time:</div>
                    <q-input
                        dense
                        readonly
                        borderless
                        :rules="[(val) => !!val || ''] ['time']"
                        v-model="task.time"
                        hide-bottom-space
                        lazy-rules
                        mask="time"
                        class="onboarding-input-field
                            onboarding-border-accent-2 onboarding-border-radius-10
                            q-mt-xs"    
                    >                    
                    <template v-slot:append>
                        <q-icon name="access_time_filled" class="cursor-pointer" color="black" @click="task.showTimePicker = !task.showTimePicker" />
                    </template>
                    <q-popup-proxy v-show="task.showTimePicker" transition-show="scale" transition-hide="scale">
                        <q-time v-model="task.time" class="onboarding-text-accent-2" color="teal">
                            <div class="row items-center justify-evenly">
                            <q-btn v-close-popup @click="cancelTimeSelection(index)" label="Cancel" class="q-px-md onboarding-text-accent-2" flat rounded></q-btn>
                            <q-btn v-close-popup @click="saveTimeSelection(index)" label="Save" class="text-primary q-px-lg onboarding-bg-accent-2" flat rounded></q-btn>
                            </div>
                        </q-time>
                    </q-popup-proxy> 
                    </q-input>
                </div>            
            </div>   
                     
            <!-- ADD TASK -->
            <div style="border: 1px dashed teal"
				class="add-task-card
                    onboarding-border-radius-15 
                    flex justify-center 
                    standard-form-width 
                    q-ma-lg q-pa-md"
			>
				<q-btn
					flat
					round					
					id="addTask"
					no-caps
					icon="add"
                    @click="addTask()"
                    class="onboarding-bg-accent-2 text-white onboarding-text-accent-2"
				/>
			</div>
            <!-- <div class="row items-center q-mx-xl"> -->
            <div class="option-btn q-mb-lg">
                <q-btn label="Cancel" @click="cancelTask" class="q-mx-md q-px-xl onboarding-text-accent-2" flat rounded></q-btn>
                <q-btn label="Save" @click="saveTask" class="text-primary q-mx-md q-px-xl onboarding-bg-accent-2" flat rounded></q-btn>       
            </div>
            <!-- </div> -->

        </div>
    </transition>
    </q-page>
</template>

<style lang="scss" scope>
    @import "./styles/CreateTask.scss";
</style>

<script src="./scripts/CreateTask.js"></script>