<template>
    <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
        <div class="dashboard">
            <div v-if="!pageLoadingState">
                <div class="q-px-lg q-pt-lg gt-xs">
					<div class="flex justify-between q-mt-sm q-mb-lg">
						<h5 class="text-26 text-semibold q-my-none onboarding-text-accent-2">Dashboard</h5>
					</div>					
				</div>
            </div>
        </div>

    </transition>
</template>

<style lang="scss" scope>
    @import "./styles/Dashboard.scss";
</style>

<script src="./scripts/Dashboard.js"></script>
