<template>
    <q-page class="create-task-page">   
    <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
        <div class="to-do">
            <div v-if="!pageLoadingState">
				<div class="q-px-lg q-pt-lg gt-xs">
					<div class="flex justify-between q-mt-sm q-mb-lg">
						<h5 class="text-26 text-semibold q-my-none onboarding-text-accent-2">To-Do List</h5>
						<div class="flex justify-end">
							<Filters
								dynamicHeight="34"
								:labelVisible="false"
								:searchVisible="true"
								:filterDateVisible="false"
								pathEndPoint="todo"
							/>
							<q-btn
								flat
								rounded
								no-caps
								dense
								class="create-new onboarding-border-accent-2 onboarding-bg-accent-2 text-white text-14 q-ml-md"
								to="create-task"
                                label="Create a new task"
							/>
						</div>
					</div>
					<!-- Filter and Pagination -->
					<!-- <div class="flex justify-between q-mb-md gt-xs">
						<div>
							<Filters :selectVisible="true" pathEndPoint="todo" />
						</div>
						<div class="flex itempt-center">
							<div
								class="text-14 onboarding-text-accent-1 q-mr-md"
								:class="$q.screen.width < 767 && 'hidden'"
							></div>
							<Pagination v-model:pagination="pagination" :numRows="orNUmberList" />
						</div>
					</div> -->
				</div>
                <!-- <div class="col-8 col-md-5 flex items-center">
                    Filters:
                    <q-input class="full-width main-search" dense placeholder="Search...">
                        <template v-slot:prepend>
                            <q-icon class="q-pl-md onboarding-text-accent-0" name="search" />
                        </template>
                    </q-input>
                </div> -->

                <!-- FILTER -->
                <div class="q-px-md q-pt-md q-pb-sm search-field" style="display: flex; align-items: center;">
                    Filters: 
                    <q-input
                        class="
                            minmax-width
                            onboarding-border-radius-50
                            onboarding-border-accent-1
                            onboarding-select-field
                            height-31
                            use-input
                            q-px-sm
                            ml-2"
                        id="todo-input"
                        dense
                        autofocus
                        borderless
                        debounce="500"
                        v-model="milestoneSearch"
                        @update:model-value="milestoneRef[0].filter(milestoneSearch)"
                        placeholder="Search"
                        style="width: 200px;"
                    >
                    </q-input>
                </div>

                
                <!-- CARD -->
                <div class="todo-container row justify-around q-my-lg">
                    <div class="col-5">
                        <div class="in-progress-card column">
                            <q-card class="text-white text-18 text-bold text-center q-pa-sm inprogress-head">In-Progress</q-card>
                            <q-card class="onboarding-border-radius-5 onboarding-border-accent-1 todo-card" :class="{ 'expanded': expandedProgress }">
                            <div class="row justify-between">
                                <!-- <div class="text-22 text-bold q-pa-sm onboarding-text-accent-2 q-ma-sm todo-head">To-Do List</div> -->
                                <q-item-label header 
                                    class="text-22 text-bold q-pa-sm onboarding-text-accent-2 
                                    q-ma-sm todo-head">general</q-item-label>
                                <q-card-actions class="flex-items">
                                    <q-btn
                                        icon="more_horiz"
                                        class="onboarding-text-primary onboarding-text-hover-accent-1"
                                        flat
                                        round
                                        dense
                                        clickable
                                        @click="editItem"
                                        v-close-popup
                                    />
                                    <q-btn
                                        color="grey"
                                        round
                                        flat
                                        dense
                                        :icon="expandedProgress  ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                                        @click="toggleExpandedProgress"
                                    />
                                </q-card-actions>
                            </div>
                            <q-slide-transition>
                                <div v-show="expandedProgress" class="expanded-content" @click="toggleExpandedProgress(false)">
                                <q-card-section class="onboarding-text-accent-1">
                                    <div class="q-gutter-sm text-weight-medium">
                                    <div v-for="task in inProgressTasks" :key="task.id">
                                        <q-checkbox v-model="task.completed" color="teal">{{ task.taskName }}</q-checkbox>
                                        <div class="time-container">{{ task.time }}</div>
                                    </div>
                                    </div>
                                </q-card-section>
                                <div class="date-container q-mt-xl onboarding-text-accent-2 text-weight-bolder">{{ currentDate }}</div>
                                </div>
                            </q-slide-transition>
                            </q-card>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="in-progress-card column">
                            <q-card class="text-white text-18 text-center text-bold q-pa-sm done-head">Done</q-card>
                            <q-card class="onboarding-border-radius-5 onboarding-border-accent-1 todo-card" :class="{ 'expanded': expandedDone }">
                            <div class="row justify-between">
                                <div class="text-22 text-bold q-pa-sm onboarding-text-accent-2 q-ma-sm todo-head">To-Do List</div>
                                <q-card-actions class="flex-items">
                                    <q-btn
                                        icon="more_horiz"
                                        class="onboarding-text-primary onboarding-text-hover-accent-1"
                                        flat
                                        round
                                        dense
                                        clickable
                                        @click="editItem"
                                        v-close-popup
                                    />
                                    <q-btn
                                        color="grey"
                                        round
                                        flat
                                        dense
                                        :icon="expandedDone ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                                        @click="toggleExpandedDone"
                                    />
                                </q-card-actions>
                            </div>
                            <q-slide-transition>
                                <div v-show="expandedDone" class="expanded-content" @click="toggleExpandedDone(false)">
                                <q-card-section class="onboarding-text-accent-1">
                                    <div class="q-gutter-sm text-weight-medium">
                                    <q-checkbox v-model="teal" color="teal">{{ text }}</q-checkbox>
                                    <div class="time-container">{{ formattedCreationTime }}</div>
                                    </div>
                                </q-card-section>
                                <div class="date-container q-mt-xl onboarding-text-accent-2 text-weight-bolder">{{ currentDate }}</div>
                                </div>
                            </q-slide-transition>
                            </q-card>
                        </div>
                    </div>
                </div>


                <div class="">
                </div>
			</div>
        </div>

    </transition>
    </q-page>   
</template>

<style lang="scss" scope>
    @import "./styles/Todo.scss";
</style>


<script src="./scripts/Todo.js"></script>