.create-task-page {
    overflow-y: auto;  // Allow vertical scrolling
    height: 100%;     // Make sure the page takes up the full viewport height
}
.required {
    color: red;
}
.task-title, .task-card, .add-task-card {
    width: 456px;
    left: 544px;
    top: 214px;
}