.create-task-page {
    overflow-y: auto;  // Allow vertical scrolling
    height: 100%;     // Make sure the page takes up the full viewport height
}
.date-container {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
    margin-top: 50px;
}
.time-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
}

.search-field{
    gap: 16px;
    height: 32px;
    width: 344px;
    margin-bottom: 20px;
}
.create-new {
    width: 146px;
    height: 32px;
}
.todo-input {
    border-radius: 50px;
}
.q-card {
    background-color: #f5f5f5;
    box-shadow: none;
    border-top-left-radius: 0px;
}
.inprogress-head {
    width: 120px;
}
.done-head {
    width: 80px;
}
.inprogress-head, .done-head {
    background-color: teal;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.checkbox-container {
    display: inline-block;
    vertical-align: middle;
}

.flex-items {
    display: flex;
    gap: 8px;
}

